beautifulsoup4==4.8.1
Django==2.2.8
django-appconf==1.0.3
django-bulma==0.6.0
django-cleanup==4.0.0
django-compressor==2.3
django-imagekit==4.0.2
django-sass-processor==0.7.4
entrypoints==0.3
flake8==3.7.9
libsass==0.19.4
mccabe==0.6.1
pilkit==2.0
Pillow==8.3.2
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.3
rcssmin==1.0.6
rjsmin==1.1.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
