//　記事コンポーネントの間隔は20pxで統一
$border-color: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);


// blog/base.html
body {
  font-family: 'M PLUS 1p', sans-serif;
}

.wrapper {
  padding: 0 140px;
}

header {
  .navbar {
    padding: 20px 0;
    .navbar-brand {
      padding: 0 140px;
    }
  }
  .navbar-menu {
    padding: 14px 140px;
  }
}

section.wrapper {
  padding: 80px 140px 30px;
  .main-content {

  }
  .side-content {
    .profile {

    }
    .searchbox {
      margin-bottom: 36px;
    }
    .category {
      padding:  20px 0 50px 10px;
      box-shadow: $border-color;
      .menu-label {
        margin-bottom: 0;
      }
      .menu-list {
        li {
          margin-bottom: 2px;
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}


//blog/post_list.html

.card {
  padding: 0 .5px;
  margin-bottom: 20px;
  .card-header {

  }
}