{# Load the tag library #}
{% load static bulma_tags %}
{% load bulma_tags %}
{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Load CSS and JavaScript #}
    <link href="https://fonts.googleapis.com/css?family=Wallpoet&display=swap" rel="stylesheet">
    {% block css %}
        {% font_awesome %}
       <link rel="stylesheet" href="{% sass_src 'blog/scss/style.scss' %}">
        <link rel="stylesheet" href="{% static 'bulma/css/style.min.css' %}">
        {% block extra_css %}{% endblock extra_css %}
    {% endblock css %}
    <title>{% block title %}Blog{% endblock %}</title>
</head>


<body>
{% block header %}
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url "blog:index" %}">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="logo">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url "admin:index" %}">Admin</a>
                    <a class="navbar-item">Documentation</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">More</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">About</a>
                            <a class="navbar-item">Jobs</a>
                            <a class="navbar-item">Contact</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">Report an issue</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field has-addons">
                            <div class="control">
                                <label for="searcher">
                                    <input class="input" id="searcher" type="text" placeholder="Find Articles">
                                </label>
                            </div>
                            <div class="control">
                                <a class="button is-primary">
                                    Search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock header %}

<secition class="section">
    <div class="container">
        {% block messages %}
            {% if messages %}
                <div class="messages columns is-desktop">
                    <div class="column is-4 if-offset-4">
                        {% for message in messages %}
                            <div class="message {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
                                <div class="message-body">{{ message }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endblock messages %}
        <div class="columns">
            <div class="column is-four-fifths">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="column">
                {% block  category %}
                    <aside class="menu">
                        <p class="menu-label">
                            Category
                        </p>
                        <ul class="menu-list">
                            {% for category in category_list %}
                               <li>{{ category.name }}</li>
                            {% endfor%}
                        </ul>
                    </aside>
                {% endblock category %}
            </div>
        </div>
    </div>
</secition>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p><strong>Blog</strong> by <a href="https://github.com/ShuntaH">Shunta.H</a>.</p>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}

</body>
</html>


