{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
    {% for post in post_list %}
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ post.image.url }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.text }}</p>
                    <br>
                   <p>Created At:<time>{{ post.created_at }}</time></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% include "blog/pagination.html" %}