{% extends 'blog/base.html' %}


{% block content %}
    {% for post in post_list %}
        <div class="card">
            <header class="card-header">
                <h2 class="card-header-title has-text-weight-bold is-size-4">{{ post.title }}</h2>
            </header>
            <div class="card-image">
                <figure class="image is-5by2">
                    <img src="{{ post.image.url }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p>{{ post.text }}</p>
                    <div class="level">
                        <div class="level-right">
                            <span class="level-item">
                                Created At:
                                <time>{{ post.created_at }}</time>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% include "blog/pagination.html" %}