{% extends 'blog/base.html' %}

{% block profile %}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="{% static 'blog/images/icon2.jpg' %}" alt="Profile photo">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Hosaka.S</p>
                    <p class="subtitle is-6">@shuntaH</p>
                    <p class="content">I love Thailand</p>
                </div>
            </div>
        </div>
    </div>
{% endblock profile %}